body {
  background: var(--body-bg-color);
  height: 100vh;
}

.main-container {
  margin: 0 auto;
  width: 400px;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.profile img {
  border: 2px solid var(--purple);
  border-radius: 50%;
  height: 12.5rem;
  object-fit: cover;
  width: 12.5rem;
  padding: 6px;
}

.menu-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu__link {
  display: inline-block;
  width: 18.75rem;
  padding: 15px;
  text-align: center;
  border: 2px solid var(--purple);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.social-icons {
  margin-top: 60px;
}

.social-menu {
  display: flex;
  gap: 30px;
}

.social__link {
  padding: 10px;
  display: flex;
  align-items: center;
}